<div class="card-category">
  <div class="card-trip" style="min-height: 100px;" >
    <div class="m-3">
      <% if current_user.id != @card.user_id  %>
        <h3> Book this card </h3>
          <div id='card-booking-dates' data-unavailable="<%= @card.unavailable_dates.to_json %>">
            <%= simple_form_for [@card, @booking] do |f| %>
            <%= f.error_notification %>
              <div class="form-inputs mt-3">
                <%= f.input :start_date,
                            as: :string,
                            type: :DateTimeType,
                            label: false,
                            placeholder: 'Click here to select dates'
                            %>
              </div>
                <div class="info_booking">
                  <div id="price_days">
                  </div>
                </div>
              </div>
                <div class="form-actions">
                  <%= f.button :submit, "Book this card", class: "btn btn-flat"%>
                </div>
                <% end %>
        <% else %>
         <div id="card_owner">
            <p> This card is owned by you </p>
            <%=link_to "Go back to your profile", user_profile_path(current_user) %>
          </div>
      <% end %>
    </div>
  </div>
</div>
