<div class="card-category">
  <div class="card-trip">
    <img src=<%= card.image_url %> />
    <div class="card-trip-infos">
      <div>
        <h2><%= card.name %></h2>
        <p><%= card.type %></p>
        <br>
        <p><%= card.cmc %></p>
        <p><%= card.power %></p>
        <p><%= card.toughness %></p>
      </div>
      <h2 class="card-trip-pricing">€<%= card.price_per_week %></h2>
      <span class="dot" style="background-color: <%= card.color %>"></span>
    </div>
  </div>
</div>
