<div class="card-category">
  <% if !(params["dates"].nil? || params["dates"]["range"] == "") %>
    <div class="card-trip-selectable" id="<%= card.id %>">
  <% else %>
    <div class="card-trip" id="<%= card.id %>">
  <% end  %>
    <% if !(params[:action] == "show") %>
      <%= link_to card_path(card) do %>
        <%= content_tag :img, "", src: card.img_url %>
      <% end %>
    <% else %>
      <img src=<%= card.img_url %>>
    <% end  %>
    <div class="card-trip-infos">
      <div>
        <h2><%= card.name %></h2>
        <p><%= card.card_type.truncate(26) %></p>
        <br>
        <p>
          <% if card.cmc.nil? %>
            <br>
          <% else %>
            Mana: <%= card.cmc.to_i.round %>
          <% end %>
        </p>
        <p>
          <% if card.power.nil? %>
            <br>
          <% else %>
            Power: <%= card.power.to_i.round %>
          <% end %>
        </p>
        <p>
          <% if card.toughness.nil? %>
            <br>
          <% else %>
            Toughness: <%= card.toughness.to_i.round %>
          <% end %>
        </p>
      </div>
      <h2 class="card-trip-pricing">€<span id="card_price"><%= card.price_per_week %></span></h2>
      <% if !card.color.nil? %>
        <span class="dot" style="background-color: <%= card.color.downcase %>"></span>
      <% else %>
      <% end %>
    </div>
  </div>
</div>


