            <div class="container">
                  <div class="row">
                      <div class="panel panel-default">
                      <div class="panel-heading">  <h4 ><%= @user.first_name + " " + @user.last_name %></h4></div>
                       <div class="panel-body">
                      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                       <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive" style = "width:50%; height: 50%">


                      </div>
                      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
                          <div class="container" >
                            <h2></h2>


                          </div>
                           <hr>
                          <ul class="container details" >
                            <li><p><span class="glyphicon glyphicon-envelope one" style="width:25px;"></span>User Email: <%= @user.email %></p></li>
                             <li><p><span class="glyphicon glyphicon-envelope one" style="width:25px;"></span>Account Began: <%= @user.created_at.to_formatted_s(:long)%></p></li>
                          </ul>
                          <hr>
                          <div class="col-sm-5 col-sm-6 tital " > </div>
                      </div>
                      <button class="btn btn-primary" type="submit" style = "color:white"><%= link_to "Edit this Profile",  edit_user_registration_path,{:style=>'color:white;'} %></button>
                      <%= link_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %></p>

                </div>

            </div>
