<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-8">
      <div class="card p-5 m-5" >

        <h3> Create New Card Listing </h3>

        <%= simple_form_for(@card) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
            <%= f.input :name, as: :select, collection:@name_list %>
            <%= f.input :price_per_week,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Price per Week" } %>
        </div>
            <div class="form-actions">
              <%= f.button :submit, "Create New Card Listing", class: "btn btn-flat button-submit"%>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
