<div class="container mx-auto">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-8 col-md-6 col-lg-3 my-5">
        <%= render 'shared/card', card: @card %>
      </div>
      <div class="col-sm-8 col-md-6 col-lg-3 mt-5">
        <%= render 'shared/booking', card: @card %>
      </div>
    </div>
  </div>
</div>
<% if @card.reviews.any?  %>
  <%= render 'shared/reviews', card:@card %>
  <% else %>
    <div class="card text-center mt-2">
      <div class="card-body">
        <h5 class="card-title">Be the first to leave a review for <%= @card.name %></h5>
      </div>
      <div class="card-footer text-muted">
        <button type="button" class="btn btn-primary btn-md"><%= link_to "Write Review", new_card_review_path(@card), style: "color: white;" %></button>
      </div>
    </div>
​  <% end %>
    <div class="py-5 d-flex justify-content-center">
      <%= link_to "Back", cards_path, :class => "btn btn-flat"%>
    </div>
  </div>
​</div>
