<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card p-5 m-5" >

        <h3> Create New Review </h3>


        <%= simple_form_for([@card, @review])  do |f| %>
        <%= render "shared/errors", object: @review %>
        <h6>Name:  <%= current_user.first_name %>  <%=current_user.last_name %></h6>
        <br>
        <div class="form-inputs">

            <%= f.select :stars, Review::STARS, prompt: "Number of Stars" %>

            <%= f.input :comment,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Comment" } %>
          </div>
          <br>
            <div class="form-actions">
              <%= f.button :submit, "Create New Review", class: "btn btn-flat"%>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
